
.container{
   display:none;
   position:absolute;
    width: auto;
    height:auto;
    top: calc(50% - 240px);
    left: calc(40% - 160px);
   border-radius:15px 15px 15px 15px;
}
.c1{
   box-shadow:0 0 10px grey;
   background-color:white;
   width:300px;
   height:500px;
   display:inline-block;
   border-radius:15px 15px 15px 15px;
}

.c11{
   background-image:url('https://i.pinimg.com/736x/b8/09/22/b80922f6ea2daaf36a6627378662803b--deck-of-cards-phone-wallpapers.jpg');
   background-size:300px 400px;
   background-repeat: no-repeat;
   background-color:white;
   width:300px;
   height:400px;
   display:inline-block;
   position:absolute;
   z-index:4;
   border-radius:15px 15px 200px 200px;
}